#container {
    display:grid;
    margin: 10px auto auto auto;
    height: 80vh;
    width: 80vh;
}

.pixel {
    background-color: white;
}

body {
    margin: 0;
    background-image: url(background.png);
}

header {
    background-image: linear-gradient(rgb(77, 94, 255), rgb(150, 131, 255));
    margin: 0;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid black;
}

h1 {
    margin: auto;
    width: 80vh;
}

p {
        margin: auto;
        width: 80vh;
}

.gridSize {
    margin: 10px auto;
    padding: 20px 10px;
    width: 80vh;
    background-color: rgba(0, 0, 0, 0.541);
}